body{
    background-color:#FEE19D;
}
.Form{
    background-color:whitesmoke;
    margin-top: 12%;
    margin: 100px;
}
.logo{
    color: #469da4;
    margin-left: 12%;
    font-size: 60%;
    
    
}
.logo p{
    margin-left: 60%;
    font-size: 15px;
}
.logo h2{
    margin-bottom: -25px;
}
.start{
    margin-top: 10%;
    color: #464646;
    margin-left: 12%;
}
.form{
    margin-left: 10%;
    padding: 20px;
    color: #464646;
    

}
input[type=text],select{
    width:50% ;
    height: 30px;
    margin-top: 2%;
    

}

input[type=checkbox],select{
    font-size: 5px;
}
.psw{
    margin-left: 20%;
}
button[type=login],select{
    background-color: #469da4;
    width: 52%;
    height:40px ;
    /* border-radius: 5%; */
    margin-top: 4%;
    color: whitesmoke;
    font-size:15px
}
.Image{
    margin-left: 50%;
    margin-top: -50%;
    
}
.Image img{
  width: 450px;
  height: 400px;
}
.facebook{
    margin-left: 5px;
}
.instagram{
    margin-left: 25px;
}
.google{
    margin-left: 25px;
}
.icons{
    margin-top:20px ;
    align-items: center;
    margin-left: 18%;
}



    
